
<%= form_for [@subject,topic] do |t| %>

<% if topic.errors.any? %>
  <h2> <%= pluralize(topic.errors.count,'error') %> to fix </h2>
  <% topic.errors.each do |attr, message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<center>
<div class="form">
  <div class="field">
    <%= t.label :Name %>
    <div class="nameInput">
      <%= t.text_field :name %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= t.label :Description %>
    <div class="descInput">
      <%= t.text_area :desc %>
    </div>
  </div>
  <br>
  <div class="">
    <div class="button">
      <%= t.submit %>
    </div>
  </div>
  <br>
</div>
</center>
<% end %>
