
<%= form_for [@subject,topic] do |t| %>

<% if topic.errors.any? %>
  <h2> <%= pluralize(topic.errors.count,'error') %> to fix </h2>
  <% topic.errors.each do |attr, message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

  <div class="field">
    <%= t.label :Name %>
    <%= t.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= t.label :Description %>
    <%= t.text_area :desc %>
  </div>
  <br>
  <div class="">
    <%= t.submit %>
  </div>
  <br>
<% end %>
