
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="heading<%= ((topic.id).to_words).capitalize %>">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= ((topic.id).to_words).capitalize %>" aria-expanded="true" aria-controls="collapse<%= ((topic.id).to_words).capitalize %>">
          <%= topic.name %>
        </button>
      </h5>
    </div>

    <div id="collapse<%= ((topic.id).to_words).capitalize %>" class="collapse" aria-labelledby="heading<%= ((topic.id).to_words).capitalize %>" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4 topic_image">
              <%= image_tag "#{topic.img}" %>
            </div>
            <div class="col-md-8">
              <%= topic.desc %>
            </div>
          </div>
          <div class="row">
            <%= link_to "Edit", edit_subject_topic_path(@subject,topic), class: "btn btn-primary topic-action"%>
            <%= link_to "Delete", [@subject,topic], method: :delete, class: "btn btn-danger topic-action" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
