<%= form_for subject do |s| %>


<% if subject.errors.any? %>
  <h2> <%= pluralize(subject.errors.count,'error') %> to fix </h2>
  <% subject.errors.each do |attr, message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>
<center>
<div class="form">
  <div class="field">
    <%= s.label :Name %>
    <div class="nameInput">
      <%= s.text_field :name %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= s.label :Description %>
    <div class="descInput">
      <%= s.text_area :desc %>
    </div>
  </div>
  <br>
  <div class="field">
    <div class="button">
      <%= s.submit  %>
    </div>
  </div>
</div>
</center>

<% end %>
