<%= form_for subject do |s| %>


<% if subject.errors.any? %>
  <h2> <%= pluralize(subject.errors.count,'error') %> to fix </h2>
  <% subject.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<div class="field">
  <%= s.label :name %>
  <%= s.text_field :name %>
</div>
<br>
<div class="field">
  <%= s.label :desc %>
  <%= s.text_area :desc %>
</div>
<br>
<div class="field">
  <%= s.submit  %>
</div>

<% end %>
